<div class="login-container">
  <div class="login-box">
    <div class="auth-header">
      <div *ngIf="siteName==='Hummingbird School in Assam'">
        <img src="assets/school/THSM_152x152.png" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <div *ngIf="siteName==='Dharma Life'">
        <img src="assets/school/DL_152x152.png" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <div *ngIf="siteName==='Garhwal English Medium School'">
        <img src="assets/school/GEMS.jpeg" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <div *ngIf="siteName==='Imamiya Mission School'">
        <img src="assets/school/IMS_152x152.png" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <div *ngIf="siteName==='Sols Arc'">
        <img src="assets/school/SA_152x152.png" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <div *ngIf="siteName==='Prajayatna'">
        <img src="assets/school/prajayatna-logo-eng.webp" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <br>
      <div *ngIf="siteName==='Turtuk Valley School'">
        <img src="assets/school/TVS_152x152.png" [alt]="siteName + ' logo'" class="logo" />
      </div>
      <h3>{{ siteName }}</h3>
    </div>
    <h2>Forgot Password</h2>
    <form #forgotForm="ngForm" (ngSubmit)="onSubmitForgotPassword()" class="login-form">

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="forgotPasswordData.email" required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #email="ngModel" />
        <div *ngIf="email.invalid && email.touched" class="error">
          <span *ngIf="email.errors?.['required']">Email is required</span>
          <span *ngIf="email.errors?.['pattern']">Enter a valid email address</span>
        </div>
      </div>

      <!-- New Password -->
      <div class="form-group position-relative">
        <label>New Password</label>
        <input [type]="showNewPassword ? 'text' : 'password'" name="newPassword" class="form-control"
          [(ngModel)]="forgotPasswordData.newPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$"
          #newPassword="ngModel" (input)="checkPasswordMatch()" />
        <ion-button fill="clear" type="button" (click)="togglePasswordVisibility('new')" class="toggle-btn">
          <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
        <div *ngIf="newPassword.invalid && newPassword.touched" class="error">
          <span *ngIf="newPassword.errors?.['required']">New Password is required</span>
          <span *ngIf="newPassword.errors?.['pattern']">
            Password must be at least 8 characters and include letters and numbers.
          </span>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group position-relative">
        <label>Confirm New Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmNewPassword" class="form-control"
          [(ngModel)]="forgotPasswordData.confirmNewPassword" required #confirmNewPassword="ngModel"
          (input)="checkPasswordMatch()" />
        <ion-button fill="clear" type="button" (click)="togglePasswordVisibility('confirm')" class="toggle-btn">
          <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
        <div *ngIf="confirmNewPassword.invalid && confirmNewPassword.touched" class="error">
          <span *ngIf="confirmNewPassword.errors?.['required']">Confirm Password is required</span>
        </div>
        <div *ngIf="passwordMismatch && confirmNewPassword.touched" class="error">
          Passwords do not match.
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="!forgotForm.valid || passwordMismatch">
        Reset Password
      </button>

      <p (click)="switchToLogin()" class="forgot-password">Back to Login</p>
    </form>

  </div>
</div>